[Unit]
Description=Periodic faultlog timer to run once every month

[Timer]
OnBootSec=30d
OnUnitActiveSec=30d
Unit=faultlog_bmcboot.service

[Install]
WantedBy=timers.target
